[Desktop Entry]
Name=Report Spooky2
GenericName=Report Spooky2
Comment=Report Spooky2 Summary
Exec=/home/USER/.local/bin/rep_spooky2.py
Path=/home/USER/
Icon=/home/USER/.local/share/icons/rep_spooky2.png
Terminal=false
Type=Application
Categories=Application
