# https://specifications.freedesktop.org/desktop-entry-spec/latest/
[Desktop Entry]
Version=1.2
Type=Application
Name=Spooky2 Reader
GenericName=Spooky2 Reader
Comment=Spooky2 Reverse Lookup Reader
Exec=/home/USER/.local/bin/spooky2_reader.py
Path=/home/USER/
Icon=/home/USER/.local/share/icons/spooky2_reader.png
Terminal=false
